<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>CRUD Project</title>

</head>
<body>
<div  th:fragment="new">
    <h5 class="h5 p-3 bg-light">New user</h5>
    <div class="container-full bg-white p-3">

            <div class="col-lg-4 center text-center mx-auto">
                <!--/*@thymesVar id="theUser" type=""*/-->
            <form class="form-horizontal" action="#" th:action="@{/admin/save}" th:object="${theUser}" method="POST">
                <div class="form-group">
                    <label >Name</label>
                    <input type="text" th:field="*{name}" class="form-control"required placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label >Login</label>
                    <input type="text"  th:field="*{login}" class="form-control" required placeholder="Login">
                </div>
                <div class="form-group">
                    <label >Password</label>
                    <input type="password"  th:field="*{password}" class="form-control"required placeholder="Password">
                </div>
                <div class="form-group">
                    <label >Password</label>
                    <input type="date"  th:field="*{birthday}" class="form-control" required placeholder="Birthday">
                </div>
                <div class="form-group">
                    <label>Role :</label>
                    <!--/*@thymesVar id="listRole" type="text"*/-->
                    <select name="role">
                        <div th:each="role : ${listRole}">
                        <option th:text="${role}" th:value="${role}"></option>
                        </div>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Add new user</button>
                </div>
            </form>
            </div>
    </div>
</div>

</body>
</html>
<!--                <input type="hidden" th:field="*{roles}" class="form-control mb-4 col-4" placeholder="roles">-->
<!--                        <option value="user" selected>user</option>-->
<!--                        <option value="admin">admin</option>-->